html {
  font-size: 16px;
}
.rtl {
  direction:rtl;
  text-align: right;
}

.top-nav {
  background-color: #0f8bba;
}

.brand-name {
  padding: .5rem 0 0;
  margin: 0;
}

.user-card {
  width: 100%;
  max-width: 250px;
}

.user-menu .list-group-item {
  border-bottom: 0;
}

.primarynav .nav-list > span {
  padding: 1px 0;
}
.primarynav .nav-link[aria-expanded] > i {
  transition-property: transform;
  transition-duration: .3s;
}
.primarynav .nav-link[aria-expanded="true"] > i {
  transform: rotate(90deg);
}
.primarynav .nav-link {
  border: 1px solid #dee2e6;
  margin-top: -1px;
}
.primarynav .sub-menu {
  font-size: .85rem;
}
.primarynav .sub-menu li {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .brand-name {
    margin: 0 0 0 1rem;
    padding: 0 0 0 .8rem;
    border-left: 1px solid #ffffff;
  }

  .user-container {
    position: absolute;
    top: .8rem;
    right: .8rem;
    z-index: 1000;
  }
  .user-container button, .user-container form {
    float: left;
  }
  .user-container button, .user-container button:hover {
    color: white;
  }

  .user-menu {
    margin-top: 1rem;
  }

  .primarynav .sub-menu a.list-group-item:first-child {
    border-top: 0 !important;
  }
}
